<div class="">
  <div class="col-auto">
    <h2 id="profile">Welcome, {{user.dataValues.name}}!</h2>
  </div>
</div>

<div class="mt-4">
  <div class="">
    <h3 id="profile">Create a New army:</h3>

    {{!-- Add new army --}}
    <form class="new-army-form" id="profile">
      <div class="">
        <label class="" for="army-name">Army name:</label>
        <input class="form-input" type="text" id="army-name" name="army-name" />
      </div>
      {{!-- Description of army --}}
  </div>
  <div class="" id="profile">
    <label for="army-desc">Description:</label>
    <textarea class="form-input" id="army-desc" name="army-desc"></textarea>
  </div>
  <div class="" id="profile">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
  </form>
</div>

<h1>{{user.dataValues.name}}'s Army List</h1>
  <div>{{#each user.dataValues.armies}}

  <h4><a href="/api/army/newarmy/{{this.dataValues.id}}">{{this.dataValues.name}}</a></h4>

  <li><strong>Army Name:</strong> {{ this.dataValues.name }}</li>
  <li><strong>Description:</strong> {{ this.dataValues.description }}</li>
  <br> </br>
    {{/each}}
  </div>
</div>

<script src="./js/profile.js"></script>

{{!-- Add figures to army --}}