{{!-- This needs to be formally checked --}}

<div class="row">
  <div class="col-auto">
    <h2 id="profile">Welcome, {{user.dataValues.name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3 id="profile">Create a New army:</h3>

    {{!-- Add new army --}}
    <form class="form new-army-form" id="profile">
      <div class="form-group">
        <label for="army-name">army name:</label>
        <input class="form-input" type="text" id="army-name" name="army-name" />
      </div>
      {{!-- Description of army --}}
  </div>
  <div class="form-group" id="profile">
    <label for="army-desc">description:</label>
    <textarea class="form-input" id="army-desc" name="army-desc"></textarea>
  </div>
  <div class="form-group" id="profile">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
  </form>
</div>

<h1>Current Army</h1>
{{#each user.dataValues.armies}}
  <li><strong>Army Name:</strong> {{ this.dataValues.name }}</li>
  <li><strong>Description:</strong> {{ this.dataValues.description }}</li>
        {{/each}}

{{#if armyNames.length}}
<h2>Army Names:</h2>
<ul>
  {{#each armyNames as |armyName|}}
  <li>{{armyName}}</li>
  {{/each}}
</ul>
{{else}}
<p>No army names available.</p>
{{/if}}

{{#if armies.length}}
<div class="col-md-6 army-list">
  <h3>Current armies:</h3>

  {{#each armies as |army|}}
  <div class="row mb-2">
    <div class="col-md-8">
      {{!-- HELP --}}
      <h4><a href="/api/army/newarmy/{{this.dataValues.id}}">{{this.dataValues.name}}</a></h4>
    </div>
    <div class="col-md-4">
      <button class="btn btn-sm btn-danger" data-id="{{army.id}}">DELETE</button>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}
</div>

<script src="./js/profile.js"></script>

{{!-- Add figures to army --}}